<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Here's where I introduce myself</h2>
                <hr class="light">
                <p>I'm Henry Osadzinski <span class="text-faded">(OZ-ah-JIN-skee)</span>, a web developer and designer with a love for creating simple, straightforward, and (above all) usable products.</p>
                <p>My main goal is always to build things that make people's lives better in some small way. If I can do that while having fun then I'm happy!</p>
                <p>When I'm not working, you can find me <a class="link-contrast" href="https://medium.com/@henryoz/5-things-i-learned-about-cinemas-while-volunteering-for-the-cube-971a98b1f4ce#.tfhg47gux" target="_blank">volunteering at the Cube Cinema</a>, running around Bristol's harbour, and <a class="link-contrast" href="https://www.flickr.com/photos/77855435@N02/albums/72157663687290582" target="_blank">building models</a>.</p>
            </div>
        </div>
    </div>
</section>
